.container {
    border: 1px solid blue;
    background-color: lightblue;
    border-radius: 10px;
    width: 200px;
    height: auto;
    padding: 10px;
    box-shadow: 10px 10px 30px 16px rgba(0, 29, 255, 0.75);
    -webkit-box-shadow: 10px 10px 30px 16px rgba(0, 29, 255, 0.75);
    -moz-box-shadow: 10px 10px 30px 16px rgba(0, 29, 255, 0.75);
    position: relative;

}

.image {
    width: 100%;
}

.buttonContainer {
    display: flex;
    justify-content: flex-end;
}

.buttonContainer button {
    background-color: blue;
    color: white;
    border: 1px;
    border-radius: 4px;
}

.buttonContainer button:hover {
    background-color: white;
    color: blue;
    box-shadow: 2px;
}

.dataContainer {
    text-align: center;
    padding: 20px;

}

.dataContainer h2 {
    margin: 2px;
    font-size: 15px;
    color: blue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.dataContainer h4 {
    margin: 2px;
    font-size: 13px;
    color: blueviolet;
    box-shadow: darkslateblue;
}

.displayButtons {
    display: flex;
    justify-content: space-between;
}

.favButton {
    font-size: 17px;
    border: 0px;
    background-color: transparent;
}