.container {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 50%;
    margin-top: 20px;
}

.container input {
    border-radius: 5px;
    height: 30px;
}

.container button {
    border-radius: 5px;
    background-color: darkblue;
    color: white;
    padding: 0 10 0 10px;
    font-size: 20px;
    border: 0px;
    box-shadow: cyan;
}