.container {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 50%;
    margin-top: 20px;
}

.container input {
    height: 2em;
    border: 0px;
    
}

.button {
    border-radius: 0px 10px 10px 0px;
    background-color: darkblue;
    color: white;
    padding: 0 10 0 10px;
    font-size: 20px;
    border: 0px;
    
}

.random {
    border-radius: 10px 0px 0px 10px;
    background-color: darkblue;
    color: white;
    padding: 0 10 0 10px;
    font-size: 20px;
    border: 0px;
}